.wd-modules,
.wd-modules * {
  border-radius: 0%;
  border: none;
  margin: 0px;
  padding: 0px;
}

.wd-modules {
  margin: 5px;
}

.wd-modules > li {
  background-color: #f5f5f5;
  border: 1px solid #c7cdd1 !important;
  padding-top: 4px;
  padding-left: 4px;
  padding-bottom: 4px;
  margin-bottom: 20px;
}

.wd-modules > li > div {
  padding: 16px;
  border-left: 1px solid #c7cdd1 !important;
}

.wd-modules > li > ul > li {
  padding: 16px;
  border-top: 1px solid #c7cdd1 !important;
  border-left: 2px solid green;
}
  
.publish-select {
    width:auto;
    display: inline;
  }