.mobile-nav {
    background-color: white;
    padding: 24px;
}

.mobile-nav a {
    color: black;
    text-decoration: none;
    padding-top: 4px;
}

.wd-kanbas-navigation {
    background-color: white;
    list-style: none;
    padding: 0px;  margin: 0px;
    width: 80px;
    height: 100%;
}
.wd-kanbas-navigation li {
    padding: 10px;     margin-bottom: 10px;
    font-size: 0.8em;  text-align: center;
}

.wd-kanbas-navigation a {
    color: d41b2c;
    font-size: 1.2em;
    text-decoration: none;
}
.wd-kanbas-navigation a i {
    color: #d41b2c;
    font-size: 2em;
    margin-bottom: 5px;
    padding-right: 20px;
    display: inline;
}

.wd-kanbas-navigation a i.profile-icon {
    color: grey;
}